{% extends 'base.html' %}

{% block content %}

<h1> {{ company_name }} </h1>

<div class="container" align="center">
  <h2>Sentiment Analysis</h2>
</div>

<div class="container">
    <div class="row py-2">
        <div class="col-md-4 py-2">
            <h4> {{ scores[0]['type'] }} </h4>
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-2">
            <h4> {{ scores[1]['type'] }} </h4>
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-2">
            <h4> {{ scores[2]['type'] }} </h4>
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" align="center">
  <h2>Company News</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">News Items</th>
    </tr>
  </thead>
  <tbody>
{% for news in news %}
    <tr>
      <td><a href={{ news['url'] }} >{{ news['title'] }}<a></td>  
    </tr>
{% endfor %}
  </tbody>
</table>


<div class="container" align="center">
  <h2>Competitors</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
 {% for competitor in competitors %}
    <tr>
      <td><a href={{ competitor['url'] }} >{{ competitor['name'] }}<a> </td>
    </tr>
 {% endfor %}
  </tbody>
</table>

<script type="text/javascript" src="https://github.com/chartjs/Chart.js/releases/download/v2.7.3/Chart.js"></script>
<script>
// chart colors
var colors = ['#0033cc','#f2f2f2'];


/* 3 donut charts */
var donutOptions = {
  cutoutPercentage: 85, 
  legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
};

    var chDonutData1 = {
        labels: ['Positive', 'Negative'],
        datasets: [
          {
            backgroundColor: colors.slice(0,3),
            borderWidth: 0,
            data: [{{scores[0]['score']}}, 100 - {{scores[0]['score']}}]
          }
        ]
    };
    var chDonut1 = document.getElementById("chDonut1");
    if (chDonut1) {
      new Chart(chDonut1, {
          type: 'pie',
          data: chDonutData1,
          options: donutOptions
      });
    }

    var chDonutData2 = {
        labels: ['Positive', 'Negative'],
        datasets: [
          {
            backgroundColor: colors.slice(0,3),
            borderWidth: 0,
            data: [{{scores[1]['score']}}, 100 - {{scores[1]['score']}}]
          }
        ]
    };
    var chDonut2 = document.getElementById("chDonut2");
    if (chDonut2) {
      new Chart(chDonut2, {
          type: 'pie',
          data: chDonutData2,
          options: donutOptions
      });
    }

    var chDonutData3 = {
        labels: ['Positive', 'Negative'],
        datasets: [
          {
            backgroundColor: colors.slice(0,3),
            borderWidth: 0,
            data: [{{scores[2]['score']}}, 100 - {{scores[2]['score']}}]
          }
        ]
    };
    var chDonut3 = document.getElementById("chDonut3");
    if (chDonut3) {
      new Chart(chDonut3, {
          type: 'pie',
          data: chDonutData3,
          options: donutOptions
      });
    }


</script>


{% endblock %}
