{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}

    <h1>Search Turing</h1>
    <form method="post">
    {{ render_field(form.username) }}
    </form>
{% endblock %}
